<div id="topBar">
    <div id="titleSection">
        <h1>Government Contracts and Bidding</h1>
        <h2>{{title}}</h2>
    </div>
    <div id="loginBar">
        <a>Vendor Login</a>
        <a>Admin Login</a>
    </div>
    <div id="navBar">
        <a>Awarded Contracts</a>
        <a>Place a bid here</a>
        <a>View your bids</a>

    </div>
</div>