<div id="topBar">
    <div id="titleSection">
        <h1>Government Contracts and Bidding</h1>
        <h2>{{title}}</h2>
    </div>

    <div id="loginBar">
        <a href="/vendorLogin">Vendor Login</a>
        <a href="/adminLogin">Admin Login</a>
    </div>

    <div id="navBar">
        <a href="/awardedContracts">Awarded Contracts</a>
        <a href="/openBids">Place a Bid</a>
        <a href="/yourBids">View Your Bids</a>
    </div>
</div>
