h1 {
    color: #a32638;
    font-family: 'Courier New', Courier, monospace;
}

h2,h3 {
    color: #004380;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}