#description {
    margin-top: 10px;
    padding: 20px;
    border: 1px solid;
}

#submitQuestions {
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: visible;
}

#submitQuestions #submitButton {
    background-color: #004380;
    color: white;
    padding: 20px;
}

#submitQuestions #submitButton:hover {
    color: rgb(0, 110, 255);
    text-decoration: underline;
    cursor: pointer;
}

#submitQuestions #formDescription {
    width: 200px;
}