/* MAIN STYLES */
#topBar {
    background-color: #004380;
    overflow: hidden;
    width: 100%;
    height: 200px;
}

#topBar p, #topBar h1, #topBar h2, #topBar h3, #topBar a {
    color: white;
}

#topBar a:hover {
    color: rgb(0, 110, 255);
    text-decoration: underline;
    cursor: pointer;
}

/* TOP BAR TITLE SECTION STYLES */
#topBar #titleSection {
    position: absolute;
    top: 1%;
    left: 1.5%;
    display: block;
}

#topBar #titleSection h1 {
    margin-bottom: 0;
}

#topBar #titleSection h2 {
    margin-top: 4px;
}

/* TOP BAR NAV BAR STYLES */
#topBar #navBar {
    position: absolute;
    top: 20%;
    right: 1.5%;
    display: flex;
    overflow: scroll;
}

#topBar #navBar a {
    text-align: center;
    font-size: 25px;
    margin-left: 15px;
    margin-top: 20px;
}

/*
#topBar #navBar a:first-child {
    padding-left: 0px;
}
*/

/* TOP BAR LOGIN BAR STYLES */
#topBar #loginBar {
    position: absolute;
    top: 1%;
    right: 1.5%;
    display: flex;
    overflow: scroll;
}

#topBar #loginBar a {
    text-align: center;
    font-size: 25px;
    margin-left: 15px;
    margin-top: 20px;
}

/*
#topBar #loginBar a:first-child {
    padding-left: 0px;
}
*/