<div id="description">
    <h3 id="descriptionTitle">
        Description
    </h3>
    <p id="descriptionText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
    <p id="descriptionText2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
</div>

<div id="submitQuestions">
    <a id="submitButton">Submit Questions/Concerns Here</a>
    <p id="formDescription">You can use this form to submit any questions or concerns you have regarding the website.</p>
</div>